{% extends 'guides/base/basic.html' %}

{% load static %}

{% block styles %}

    {{ block.super }}

{% endblock styles %}

{% block body %}
    <header>
        <div class="content-wrapper">
            <h1>Mateja's Guides</h1>
            <p>Welcome to my collection of guides. As a self-motivated learner, I come across several problems, especially when it comes to computer software. After researching across the internet in search of answers, I begin to understand the problem and various approaches towards a solution. After becoming more comfortable with the situation, I like to write a guide on how I would go about solving it.</p>
            <p>There are three main reasons I choose to do this. One, I like to keep a future reference for myself in case I need a reminder of a step or two that are missing from my memory. Two, It is easier to commit things to memory when you write them down, mainly when are writing in a format that is welcoming to new readers. Finally, I hope that these guides serve as a helping hand to others who might find themselves in a similar situation as me, and I hope they can take at least a fraction of what I write and use it to help themselves solve their problems.</p>
            <p>Below you can find a collection of tags. Choose one to see more specific guides.</p>
        </div>
    </header>
    <main>
        <div class="content-wrapper">
            <ul>
                {% for tag in tags %}
                        <li>
                            <a href="{% url 'guides:guides' tag.value %}">
                                {{ tag.value }}
                            </a>
                        </li>
                        {% with tagset=tag.tag_set.all %}
                            {% if tagset %}
                                <ul>
                                    {% for sub_tag in tagset %}
                                        {% with tag=sub_tag template_name="guides/base/subtag.html" %}
                                            {% include template_name %}
                                        {% endwith %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>
        <div class="content-wrapper">
            <p id="copyright"><small>&copy;2018-2019 Mateja Lasan</small></p>
        </div>
    </footer>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
{% endblock scripts %}
