{% extends 'guides/base/basic.html' %}

{% block styles %}

    {{ block.super }}

{% endblock styles %}

{% block title %}
    {{ block.super }} | {{ tag.value.capitalize }}
{% endblock title %}

{% block body %}
    <header>
        <div class="content-wrapper">
            <h1>Mateja's Guides</h1>
            {% if tag.description %}
                <div class="tag-description">
                    {{ tag.description }}
                </div>
            {% endif %}
        </div>
    </header>
    <main>
        {% if not guides %}
            <p style="text-align: center;">There are no guides to display for this particular tag.</p>
        {% else %}
            <ul>
                {% for guide in guides %}
                    <li><a href="{% url 'guides:guide' tag.id guide.id %}">{{ guide.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
    <footer>
        <div class="content-wrapper">
            <p id="copyright"><small>&copy;2018-2019 Mateja Lasan</small></p>
        </div>
    </footer>
{% endblock body %}
