[run]
include=*

[report]
exclude_lines=
    coverage: omit
omit=
    website/settings/*
    website/wsgi/*
    website/storage.py
    **/*/migrations/*
    **/*/tests/*
    development.py
    production.py
show_missing=True
