{% load static %}

<html lang="en-CA">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% block styles %}
            <link rel="stylesheet" href="{% static 'guides/css/main.min.css' %}">
        {% endblock styles %}
        <link rel="icon" href="{% static 'img/icons/icon-blue.png' %}">
        <title>{% block title %}Mateja Lasan | Guides{% endblock title %}</title>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
    {% block scripts %}
    {% endblock scripts %}
</html>
