{% extends "resume/base/basic.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'resume/css/styles.min.css' %}">
    <style>

        #computer-skills .sub-computer-skill {
            margin-left: 3rem;
        }

    </style>
{% endblock styles %}

{% block body %}
    <header class="parallax-window" data-parallax="scroll" data-speed="0.5" data-image-src="{% static 'resume/img/heading-image.png' %}" data-natural-width="5184" data-natural-height="3456">
        <div class="content-wrapper">
            <h1 id="site-title" class="animation-element fade-in-faster">Mateja Lasan</h1>
            <p class="animation-element fade-in"><small>Please scroll down.</small></p>
        </div>
    </header>
    <main>
        <div id="cover-letter" class="resume-section">
            <div class="content-wrapper">
                <p class="animation-element fade-in-faster">{{ cover_letter.text }}</p>
            </div>
        </div>
        <div id="computer-skills" class="resume-section">
            <div class="content-wrapper">
                {% for computer_skill in computer_skills %}
                    <div class="computer-skill animation-element fade-up">
                        <div class="text-container">
                            <p>{{ computer_skill.name }}</p>
                        </div>
                        <div class="proficiency-container">
                            <div class="proficiency" style="width: {{ computer_skill.proficiency }}%;">
                                <div class="proficiency-colours animation-element fill-up"></div>
                            </div>
                        </div>
                    </div>
                    {% if computer_skill.subskills %}
                        {% for subskill in computer_skill.subskills.all %}
                            {% with depth=1 computer_skill=subskill template_name="resume/base/subskill.html" %}
                                {% include template_name %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="skills" class="resume-section parallax-window" data-parallax="scroll" data-speed="0.5" data-image-src="{% static 'resume/img/toronto-image.png' %}" data-natural-width="4096" data-natural-height="1365">
            <div class="content-wrapper">
                {% for skill in skills %}
                    <div class="text-container animation-element fade-in-faster">
                        <p>{{ skill.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="experience" class="resume-section">
            <div class="content-wrapper">
                {% for work in work_experience %}
                    <div class="experience-card">
                        <h1 class="animation-element fade-in-faster">{{ work.position }}</h1>
                        <h2 class="animation-element fade-in-faster">{{ work.employer }}</h2>
                        {% if work.location %}
                            <p class="animation-element fade-in-faster">{{ work.location }}</p>
                        {% endif %}
                        {% if work.end_date %}
                            <p class="animation-element fade-in-faster">{{ work.start_date }} - {{ work.end_date }}</p>
                        {% else %}
                            <p class="animation-element fade-in-faster">{{ work.start_date }} - Present</p>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for education in education_experience %}
                    <div class="experience-card">
                        <h1 class="animation-element fade-in-faster">{{ education.accreditation }}</h1>
                        <h2 class="animation-element fade-in-faster">{{ education.institution }}</h2>
                        {% if education.location %}
                            <p class="animation-element fade-in-faster">{{ education.location }}</p>
                        {% endif %}
                        {% if education.end_date %}
                            <p class="animation-element fade-in-faster">{{ education.start_date }} - {{ education.end_date }}</p>
                        {% else %}
                            <p class="animation-element fade-in-faster">{{ education.start_date }} - Present</p>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for volunteer in volunteer_experience %}
                    <div class="experience-card">
                        <h1 class="animation-element fade-in-faster">{{ volunteer.recipient }}</h1>
                        {% if volunteer.location %}
                            <p class="animation-element fade-in-faster">{{ volunteer.location }}</p>
                        {% endif %}
                        {% if volunteer.end_date %}
                            <p class="animation-element fade-in-faster">{{ volunteer.start_date }} - {{ volunteer.end_date }}</p>
                        {% else %}
                            <p class="animation-element fade-in-faster">{{ volunteer.start_date }} - Present</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <div class="content-wrapper">
            <a id="back-to-top" href="#"><small>Back to top</small></a>
            <div id="social-links">
                <a href="https://github.com/matootie/" target="_blank"><img class="footer-icon" src="{% static 'resume/img/icons/github-light-150.png' %}" alt="GitHub"></a>
                <a href="https://twitter.com/matootietweets/" target="_blank"><img class="footer-icon" src="{% static 'resume/img/icons/twitter-light-150.png' %}" alt="Twitter"></a>
                <a href="https://instagram.com/mateja.lasan/" target="_blank"><img class="footer-icon" src="{% static 'resume/img/icons/instagram-light-150.png' %}" alt="Instagram"></a>
            </div>
            <p id="copyright"><small>&copy; 2018 Mateja Lasan</small></p>
        </div>
    </footer>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'resume/js/main.min.js' %}"></script>
{% endblock scripts %}
